*  {
    padding: 0;
    margin: 0;


}

.nerds_site{
    font-family: 'Roboto', sans-serif;

}

.container{
    width: 80%;
    margin: 0 auto;
    


}

.header{
    background-color: #eeeeee;
    

}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;

}

.hamburger-menu{
    display: none;

}


#menu__toggle {
    opacity: 0;
    
}

.header .container .hamburger-menu .menu__btn {
    display: flex; 
    align-items: center; 
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
    

}

.header .container .hamburger-menu .menu__btn > span,
.header .container .hamburger-menu .menu__btn > span::before,
.header .container .hamburger-menu .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fb565a;

}

.header .container .hamburger-menu .menu__btn > span::before {
    content: '';
    top: -8px;

}

.header .container .hamburger-menu .menu__btn > span::after {
    content: '';
    top: 8px;

}

.header .container .hamburger-menu .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 2;
}

.header .container .hamburger-menu .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.header .container .hamburger-menu .menu__item:hover {
    background-color: #CFD8DC;

}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);

}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);

}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);

}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;

}

.header .container .hamburger-menu .menu__btn > span,
.header .container .hamburger-menu .menu__btn > span::before,
.header .container .hamburger-menu .menu__btn > span::after {
    transition-duration: .25s;
}

.header .container .hamburger-menu .menu__box {
    transition-duration: .25s;
}

.header .container .hamburger-menu .menu__item {
    transition-duration: .25s;
}

.header .container a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
    font-weight: 600;

}

.header .container .navigation .nav{
    display: flex;

}

.header .container .navigation .nav li{
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    

}

.header .container .navigation .nav li a:hover{
    color:#fb565a;
    transition-property: color;
    transition-duration: 0.3s;

}

.header .container .navigation .nav li:not(:last-child){
    margin-right: 50px;
    
}

header .container>a{
    display: block;
    background-image: url(../img/cart_icon.png);
    padding-left: 45px;
    background-repeat: no-repeat;
    height: 16px;
    background-position: left bottom;

}

header .container>a:hover{
    color:#fb565a;
    transition-property: color;
    transition-duration: 0.3s;

}



/* PROMO */



.promo{
    background-color: #eeeeee;

}


.promo .container{
    display: flex;
    height: 415px;
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position-x: right;
    

}

.promo .container .promo_title{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 50px 0;

}

.promo .container .promo_title h2{
    font-size: 55px;
    line-height: 55px;

}

.promo .container .promo_title p{
    line-height: 24px;
    margin-bottom: 20px;
   
    

}

.promo .container .promo_title a{
    display: inline-block;
    padding: 20px 70px;
    background-color: #fb565a;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;

}

.promo .container .promo_title a:hover{
    background-color: #ba3f41;
    transition-property: background-color;
    transition-duration: 0.5s;


}


.promo .container .empty_block{
    width: 50%;
    background-color: #eeeeee70;
    display: none;
    

}



/* ADVANTAGES */



.advantages .container {
    padding: 70px 0;
    border-bottom:2px solid #eeeeee ;

}

.advantages .container .list_item{
    display: flex;
    justify-content: space-between;



}

.advantages .container .list_item .item{
    width: 33.3%;
    

}

.advantages .container .list_item .item img{
    margin-bottom: 20px;

}

.advantages .container .list_item .item h3{
    text-transform: uppercase;
    margin-bottom: 20px;

}


.advantages .container .list_item .item p{
    padding-right: 35%;
    line-height: 24px; 
    margin-bottom: 35px;


}


.advantages .container .list_item .item button{
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;



}

.advantages .container .list_item .item .btn_1{
    background-color: #fb565a;

}

.advantages .container .list_item .item .btn_2{
    background-color: #00ca74;

}

.advantages .container .list_item .item .btn_3{
    background-color: #efc84a;

}

.advantages .container .list_item .item .btn_1, .item .btn_2, .item .btn_3{
    transition-property: background-color;
    transition-duration: 0.3s;

}

.advantages .container .list_item .item .btn_1:hover{
    background-color: #b63f41;

}

.advantages .container .list_item .item .btn_2:hover{
    background-color: #02854d;

}

.advantages .container .list_item .item .btn_3:hover{
    background-color: #a78c34;

}




/* ABOUT */



.about .container{
    padding-top:40px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom:2px solid #eeeeee ;

}

.about .container .about_block_1{
    width: 60%;

}


.about .container .about_block_1 h3{
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 40px;
    margin-top: 30px;

}

.about .container .about_block_1 p{
    line-height: 24px;
    margin-bottom: 40px;
    

}


.about .container .about_block_1 h4{
    text-transform: uppercase;
    margin-bottom: 30px;

}

.about .container .about_block_1 ul li:not(:last-child){
    margin-bottom: 30px;

}

.about .container .about_block_1 ul li{
    list-style: none;   
     
    

}

.about .container .about_block_1 ul li::before{
    content: "";
    display: inline-block;
    height: 3px;
    width: 30px;
    background: #fb565a;
    margin-right: 10px;
    vertical-align: 25%;

}

.about .container .about_block_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;

}

.about .container .about_block_2 .block_2_top{
    text-align: center;

}

.about .container .about_block_2 .block_2_top img{
    margin-bottom: 30px;

}

.about .container .about_block_2 .block_2_top p{
    font-weight: bold;
    text-transform: uppercase;

}

.about .container .about_block_2 .block_2_bottom{
    display:flex;

}

.about .container .about_block_2 .block_2_bottom h4{
    font-size: 45px;

}

.about .container .about_block_2 .block_2_bottom h4::after{
    content: "%";
    font-size: 25px;
    vertical-align: 15px;
    

}


/* LOGOS */


.logos .container{
    padding:50px 0;
    border-bottom:2px solid #eeeeee ;


}

.logos .container .list_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;

}



/* CONTACTS */

.contacts{
    position: relative;

}

.contacts .wrapper{
    padding:70px 0;
    position: relative;
    

}

.contacts .container_contacts{
    width: 300px;
    padding: 40px 0;
    display: inline-block;
    position: absolute;
    background-color: rgba(218, 218, 220, 0.891);
    border-radius: 10px;
    top: 185px;
    left: 10%;

    



}

.contacts .container_contacts .contact{
    width: 190px;
    margin: 0 auto;

}


.contacts .container_contacts .contact h4{
    text-transform: uppercase;
    margin-bottom: 20px;

}

.contacts .container_contacts .contact p{
    margin-bottom: 20px;

}

.contacts .container_contacts .contact button{
    width: 100%;
    height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #fb565a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.contacts .container_contacts .contact button:hover{
    background-color: #ab3b3d;
    transition-property: background-color;
    transition-duration: 0.3s;

}



/* FORM */


.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fb2a2e;
}

.close:before {
    transform: rotate(45deg);
}
    
.close:after {
    transform: rotate(-45deg);
}


    
 
.contacts .write_us {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 15%;
    left: 20%;
    width: 60%;
    box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.5);
    
}

.write_us .form-inner {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  
}

.write_us .form-inner input[type=text], .form-inner input[type=email], .form-inner textarea  {
    padding-left: 15px;
    font-size: 16px;

}

.form-inner input, .form-inner textarea {
    display: block;
    margin-bottom: 10px;
    line-height: 40px;
    border: 2px solid #eeeeee;
    width: calc(100% - 8px);

}

.input_text, .input_email{
    width: 45%;
    margin-bottom: 20px;

}

.form-inner textarea{
    margin-bottom: 40px;

}

.form-inner h3{
    margin-bottom: 20px;
    font-size: 40px;
 
}

.form-inner h4{
    margin-bottom: 10px;

}


.write_us .form-inner .input_top{
    display: flex;
    justify-content: space-between;


}

.write_us .form-inner>input{
    margin-bottom: 80px;
    width: 30%;
    height: 50px;
    background-color: #fb565a;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    border-radius: 5px;



}



.write_us .form-inner input[type="submit"]{
    cursor: pointer;
}


/* FOOTER */



.footer .container{
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;



}

.footer .container .social a{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #e1e1e1;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;


}

.footer .container .social a:not(:last-child){
    margin-right: 10px;

}

.footer .container .social a:hover{
    transform: scale(1.2, 1.2);

}


.footer .container .social .social_vk{
    background-image: url(../img/vk_icon.png);

}

.footer .container .social .social_facebook{
    background-image: url(../img/fb_icon.png);

}

.footer .container .social .social_instagram{
    background-image: url(../img/insta_icon.png);

}


.footer .container .footer_title h4{
    font-size: 30px;
    margin-bottom: 5px;

}


.footer .container .empty_block{
    width: 10%;


}